    <!-- LOGIN FORM -->
   <form action="/ngo/image" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Profile Image </label>
            <input type="file" id="fileinput" accept="image/*" />
        </div>
    </form>
    <form action="/ngo/signup" method="post">
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" name="description" required="required">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>